@charset 'UFT-8' ;

:root {
  --f_fontSize : 16px ;
  --f_lineHeight : 1.5 ;
  --f_fontWeight : 400 ;

  /* Colors */
  --c_white : #FFF ;
  --c_black : #000 ;
  --c_green500 : #6DE754 ;
  --c_green700 : #1F392C ;
  --c_green800 : #1E201D ;
  --c_green900 : #161815 ;
  --c_grey300 : #909090 ;
  
  /* Layout columns */
  --l_screenLG : 12 ;
  --l_screenMD : 8 ;
  --l_screenSM : 6 ;
  --l_screenXS : 4 ;
  
  /* MediaQueries */
  --mq_screenXL : 1200px ;
  --mq_screenLG : 980px ;
  --mq_screenMD : 740px ;
  --mq_screenSM : 560px ;
  --mq_screenXS : 420px ;
}

* {
  margin : 0 ;
  padding : 0 ;

  border : 1px dotted red ;
}

html {
  font-size : var( --f_fontSize ) ;
  line-height : var( --f_lineHeight ) ;
  font-weight : var( --f_fontWeight ) ;
}

.Body {
	display : grid ;
	grid-template-columns : repeat( var( --l_screenLG ) , 1fr ) ;
	/* Header : 25vh - Main : auto - Footer : 20vh  */
	grid-template-rows : 25vh auto 20vh ;
}

/* Comienzo Header */
.Header {
	grid-column : 1 / 13 ;

  background-color : var( --c_grey300 ) ;
}

.Header .section {
  height : 128px ;

  display : flex ;
  flex-direction : row ;
  justify-content : space-between ;
  align-items : end ;
}

.Header .section .navbar {}

.Header .section .navbar .navbar__menu {
  display : flex ;
  gap : 1rem ;

  list-style-type : none ;
}

.Header .section .navbar .navbar__menu .navbar__menu--item {
  color : var( --c_grey300 ) ;
}


.Header .section .actions {}

.Header .section .actions .actions__btn {
  padding : .75rem 2rem ;

  font-weight: calc( var( --f_fontWeight ) + 300 ) ;
  
  border : 3px solid var( c_grey300 ) ;
  border-radius : 1rem ;
}

.Header .section .actions .actions__btn:first-child {
  color : var( --c_white ) ;

  background-color : transparent ;

  border-color : var( --c_green500 ) ;
}


.Header .section .actions .actions__btn:last-child {
  color : var( --c_black ) ;
  background-color : var( --c_green500 ) ;

}

/* Comienzo Aside */
.Aside {}



/* Comienzo Main */
.Main {
	grid-column : 1 / 13 ;
	grid-row : 2 / 3 ;
	
	height : 200vh ;
	
}



/* Comienzo Footer */
.Footer {
	grid-column : 1 / 13 ;
	grid-row : 3 / 4 ;
	
}


/* MediaQueries */
@media screen and (min-width : 1200px ) {
	.Body {}
}

@media screen and ( min-width : 740px ) and ( max-width : 980px ) {
	.Body {
		grid-template-columns : repeat( var( --l_screenLG ) , 1fr ) ;
	}
}

@media screen and ( min-width : 560px ) and ( max-width : 740px ) {
	.Body {
		grid-template-columns : repeat( var( --l_screenMD ) , 1fr ) ;
	}
}

@media screen and ( min-width : 420px ) and ( max-width : 560px ) {
	.Body {
		grid-template-columns : repeat( var( --l_screenSM ) , 1fr ) ;
	}
}

@media screen and ( max-width : 420px ) {
	.Body {
		grid-template-columns : repeat( var( --l_screenXS ) , 1fr ) ;
	}
}